html {
    font-family: Arial;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-size: 12px;
}
h3{
    color: #54927C;
    font-size: 22px;
    font-weight: normal;
}
b{color: #647E7C;}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main{
    width: 600px;
    margin: 40px auto;
    background: #F4FAFB;
    border: 2px solid #E3F1EB;
    padding: 0 10px;
}
.required{
    color: red;
}
.tip{
    border: 1px dashed #54927C;
    background: #E4F2EC;
    padding: 3px;
}

.row-label{
    font-weight: normal;
    width: 170px;
    background: #E4F2EC;
    text-align: right;
    padding: 5px;
    color: #54927C;
}
.row-field{
    padding-left: 10px;
}

input[type="text"],input[type="password"],input[type="email"],select,textarea{
    border: 1px solid #b4bebc;
    height: 12px;
    padding: 2px;
    width: 60%;
}
.dijitTextBox{width: 60%;}
select{
    height: auto;
    padding: 0;
}
.row-field .input-big{
    width: 90%;
}
.row-field .input-default{
    width: auto!important;
}
.postal-address .row-field textarea{
    height: auto!important;
    width: 60%;
}
#lang-swap{
    margin: auto;
    position: relative;
    width: 600px;
    top:35px;
}

/* Form Table*/
table.fieldset-table{
    width: 100%;
    border-spacing: 0 4px;
}
table.fieldset-table b{
    vertical-align: sub;
}
table.fieldset-table .actions{
    height: 50px;
}

#your-phone th {
    color: #54927C;
    font-size: 10px;
    font-weight: normal;
    text-align: left;
}
#your-phone .dijitTextBox {
    width: 85%;
}
.en #your-phone th.country-code{
    width: 75px;
}
.en #your-phone th.city-code{
    width: 65px;
}
.es #your-phone th.country-code {
    width: 88px;
}
.es #your-phone th.city-code {
    width: 117px;
}
#your-phone td span{
    float: right;
    margin-right: 2px;
}
/* END Form Table*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}