html {
    font-family: Arial;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-size: 12px;
}
h3{
    color: #54927C;
    font-size: 22px;
    font-weight: normal;
}
b{color: #647E7C;}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main{
    width: 600px;
    margin: 40px auto;
    background: #F4FAFB;
    border: 2px solid #E3F1EB;
    padding: 0 10px 10px;
}
.required{
    color: red;
}
.tip{
    border: 1px dashed #54927C;
    background: #E4F2EC;
    padding: 3px;
}
#accept-terms{
    vertical-align: sub;
}
.fieldset-row{
    margin-bottom: 7px;
    position: relative;
    overflow: hidden;
}
.row-label{
    float:left;
    width: 170px;
    background: #E4F2EC;
    text-align: right;
    padding: 5px;
    color: #54927C;
}
.row-field{
    margin-left: 190px;
    padding-top: 4px;
}

input[type="text"],input[type="password"],input[type="email"],select,textarea{
    border: 1px solid #b4bebc;
    height: 12px;
    padding: 2px;
    width: 60%;
}
.dijitTextBox{width: 60%;}
#countrySelect, #countrySelect .dijitButtonContents{width: 251px;}
select{
    height: auto;
    padding: 0;
}
.row-field .input-big{
    width: 90%;
}
.row-field .input-default{
    width: auto!important;
}
.postal-address .row-field textarea{
    height: 62px!important;
    width: 60%;
}
.postal-address .row-label{
    height: 40px;
    padding-top: 30px;
}
.your-phone .row-label{
    height: 23px;
    padding-top: 11px;
}
.your-phone .labels{
    color: #54927C;
    font-size: 10px;
}
.your-phone li {
    display: inline-block;
}
.your-phone .country-code .dijitTextBox{
    width: 62px;
}
.your-phone .city-code .dijitTextBox{
    width: 44px;
}
#lang-swap{
    margin: auto;
    position: relative;
    width: 600px;
    top:35px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}