<div class="main">
    <h3>${i18n.formTitle}</h3>
    <p class="tip">${i18n.fieldMarkedWith} <em class="required"> * </em> ${i18n.areCompulsoryFields}</p>
    <form id="accountForm" data-dojo-type="dijit/form/Form" method="post" action="">
        <div class="fieldset-wrapper ${i18n.$locale}">
            <div class="screen1">
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.name}</div>
                    <div class="row-field">
                        <input data-dojo-attach-point="shippingName" name="name" type="text" data-dojo-type="dijit/form/ValidationTextBox" 
                               data-dojo-props="required:true"/>
                    </div>
                </div>
                
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.emailId}</div>
                    <div class="row-field">
                        <input name="email" type="text" class="input-big" data-dojo-type="dijit/form/ValidationTextBox"
                               data-dojo-attach-point="emailInput"
                               data-dojo-props="required:true"/>
                    </div>
                </div>

                <div class="fieldset-row">
                    <div class="row-label">${i18n.alternativeEmailId}</div>
                    <div class="row-field">
                        <input name="alternativeEmail" type="text" class="input-big" data-dojo-type="dijit/form/ValidationTextBox"
                               data-dojo-attach-point="alternativeEmailInput"/>
                    </div>
                </div>

                <div class="fieldset-row your-phone">
                    <div class="row-label">${i18n.yourPhone}</div>
                    <div class="row-field">
                        <ul class="labels phone-fields">
                            <li class="country-code">
                                <label>${i18n.countryCode}</label>
                                <input name="countryCode" type="text" data-dojo-type="dijit/form/TextBox"/> -
                            </li>
                            <li class="city-code">
                                <label>${i18n.cityCode}</label>
                                <input name="cityCode" type="text" data-dojo-type="dijit/form/TextBox"/> -
                            </li>
                            <li class="phone-number">
                                <label>${i18n.phoneNumber}</label>
                                <input name="phoneNumber" type="text" data-dojo-type="dijit/form/TextBox"/>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.country}</div>
                    <div class="row-field">
                        <select id="countryId" name="countryId" data-dojo-type="example/CountrySelector" 
                                data-dojo-props="labelAttr:'name', 
                                searchAttr: 'name',
                                placeHolder: '${countries.selectCountry}',
                                required:true">
                        </select>
                    </div>
                </div>
                
                <div class="fieldset-row row-title">
                    <div class="row-label">${i18n.yourPostalAddress}</div>
                </div>
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.address}</div>
                    <div class="row-field">
                        <input data-dojo-attach-point="shippingAddress" name="shippingAddress" type="text" data-dojo-type="dijit/form/ValidationTextBox" 
                               data-dojo-props="required:true"/>
                    </div>
                </div>
                <div class="fieldset-row">
                    <div class="row-label">${i18n.secondaryAddress}</div>
                    <div class="row-field">
                        <input data-dojo-attach-point="shippingSecondaryAddress" name="shippingSecondaryAddress" type="text" data-dojo-type="dijit/form/TextBox"/>
                    </div>
                </div>
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.city}</div>
                    <div class="row-field">
                        <input data-dojo-attach-point="shippingCity" name="shippingCity" type="text" data-dojo-type="dijit/form/ValidationTextBox" 
                               data-dojo-props="required:true"/>
                    </div>
                </div>
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.state}</div>
                    <div class="row-field">
                        <input data-dojo-attach-point="shippingState" name="shippingState" type="text" data-dojo-type="dijit/form/ValidationTextBox" 
                               data-dojo-props="required:true"/>
                    </div>
                </div>
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.zip}</div>
                    <div class="row-field">
                        <input data-dojo-attach-point="shippingZip" name="shippingZip" type="text" data-dojo-type="dijit/form/ValidationTextBox" 
                               data-dojo-props="required:true"/>
                    </div>
                </div>

                <div class="fieldset-row row-title">
                    <div class="row-label">${i18n.accountInfo}</div>
                </div>
                
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.username}</div>
                    <div class="row-field">
                        <input name="username" type="text" data-dojo-type="dijit/form/ValidationTextBox" 
                               data-dojo-props="required:true"/>
                    </div>
                </div>
                
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.password}</div>
                    <div class="row-field">
                        <input id="password" type="password" class="input-default" data-dojo-type="dijit/form/ValidationTextBox" 
                               data-dojo-attach-point="passwordInput"
                               data-dojo-props="required:true"/>
                    </div>
                </div>

                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.reEnterPassword}</div>
                    <div class="row-field">
                        <input type="password" class="input-default" data-dojo-type="dijit/form/ValidationTextBox" 
                               data-dojo-attach-point="confirmPasswordInput"
                               data-dojo-props="required:true"/>
                    </div>
                </div>

                <div class="fieldset-row">
                    <div class="row-field">
                        <input type="checkbox" data-dojo-attach-point="termsOfUse" data-dojo-type="dijit.form.CheckBox"/>
                        <b id="accept-terms">${i18n.iAcceptThe} <a href="#">${i18n.termsOfUse}</a></b>
                    </div>
                </div>
            </div>

            <div class="fieldset-row screen2 dijitHidden">
                <div class="row-label">${i18n.yourBillingAddress}</div>
                <div class="row-field">
                    <input data-dojo-attach-point="sameAsBilling" name="sameAsBilling" type="checkbox" data-dojo-type="dijit.form.CheckBox"/>
                    <b>${i18n.contactInfoSameAsBilling}</b>
                </div>
            </div>

            <div id="screen2" class="screen2 dijitHidden">
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.name}</div>
                    <div class="row-field">
                        <input name="billingName" type="text" data-dojo-type="dijit/form/ValidationTextBox"/>
                    </div>
                </div>
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.address}</div>
                    <div class="row-field">
                        <input name="billingAddress" type="text" data-dojo-type="dijit/form/ValidationTextBox"/>
                    </div>
                </div>
                <div class="fieldset-row">
                    <div class="row-label">${i18n.secondaryAddress}</div>
                    <div class="row-field">
                        <input name="billingSecondaryAddress" type="text" data-dojo-type="dijit/form/TextBox"/>
                    </div>
                </div>
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.city}</div>
                    <div class="row-field">
                        <input name="billingCity" type="text" data-dojo-type="dijit/form/ValidationTextBox"/>
                    </div>
                </div>
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.state}</div>
                    <div class="row-field">
                        <input name="billingState" type="text" data-dojo-type="dijit/form/ValidationTextBox"/>
                    </div>
                </div>
                <div class="fieldset-row">
                    <div class="row-label"><em class="required"> * </em>${i18n.zip}</div>
                    <div class="row-field">
                        <input name="billingZip" type="text" data-dojo-type="dijit/form/ValidationTextBox"/>
                    </div>
                </div>
            </div>

            <div class="fieldset-row">
                <div class="row-field actions">
                    <button id="continueBtn" type="button" data-dojo-type="dijit/form/Button" 
                            data-dojo-attach-point="continueBtn"
                            data-dojo-props="disabled:true">${i18n.lContinue} >></button>
                    <button data-dojo-attach-point="resetBtn" class="screen1" type="reset" data-dojo-type="dijit/form/Button">${i18n.reset}</button>
                    <button data-dojo-attach-point="backBtn" type="button" class="screen2 dijitHidden" data-dojo-type="dijit/form/Button">${i18n.lBack}</button>
                </div>
            </div>
        </div>
    </form>
</div>