<div class="main">
    <h3>${i18n.formTitle}</h3>
    <p class="tip">${i18n.fieldMarkedWith} <em class="required">*</em> ${i18n.areCompulsoryFields}</p>
    <form data-dojo-type="dijit/form/Form" method="post" action="">
        <script type="dojo/on" data-dojo-event="submit">
            return this.validate();
        </script>
        <div class="fieldset-wrapper ${i18n.$locale}">
            <div class="fieldset-row">
                <div class="row-label"><em class="required">*</em>${i18n.username}</div>
                <div class="row-field">
                    <input type="text" data-dojo-type="dijit/form/ValidationTextBox" 
                           data-dojo-props="required:true"/>
                </div>
            </div>
            
            <div class="fieldset-row">
                <div class="row-label"><em class="required">*</em>${i18n.emailId}</div>
                <div class="row-field">
                    <input type="text" class="input-big" data-dojo-type="dijit/form/ValidationTextBox"
                           data-dojo-props="validator:dojox.validate.isEmailAddress,required:true"/>
                </div>
            </div>
            
            <div class="fieldset-row">
                <div class="row-label">${i18n.alternativeEmailId}</div>
                <div class="row-field">
                    <input type="text" class="input-big" data-dojo-type="dijit/form/ValidationTextBox"
                           data-dojo-props="validator:${_optionalEmail}"/>
                </div>
            </div>
            
            <div class="fieldset-row your-phone">
                <div class="row-label">${i18n.yourPhone}</div>
                <div class="row-field">
                    <ul class="labels">
                        <li>${i18n.countryCode} -</li>
                        <li>${i18n.cityCode} -</li>
                        <li>${i18n.phoneNumber}</li>
                    </ul>
                    <ul class="phone-fields">
                        <li class="country-code"><input type="text" data-dojo-type="dijit/form/TextBox"/> -</li>
                        <li class="city-code"><input type="text" data-dojo-type="dijit/form/TextBox"/> -</li>
                        <li><input type="text" data-dojo-type="dijit/form/TextBox"/></li>
                    </ul>
                </div>
            </div>
            
            <div class="fieldset-row postal-address">
                <div class="row-label"><em class="required">*</em>${i18n.yourPostalAddress}</div>
                <div class="row-field">
                    <textarea rows="3" data-dojo-type="example/form/ValidationTextArea" 
                              data-dojo-props="required:true"></textarea>
                </div>
            </div>
            
            <div class="fieldset-row">
                <div class="row-label"><em class="required">*</em>${i18n.country}</div>
                <div class="row-field">
                    <select data-dojo-type="dijit/form/Select" data-dojo-props="required:true">
                        <option value="">---------------- ${i18n.selectOne} ----------------<option>
                        <option value="USA">USA</option>
                        <option value="Cuba">Cuba</option>
                    </select>
                </div>
            </div>
            
            <div class="fieldset-row">
                <div class="row-label"><em class="required">*</em>${i18n.password}</div>
                <div class="row-field">
                    <input type="password" class="input-default" data-dojo-type="dijit/form/ValidationTextBox" 
                           data-dojo-props="required:true"/>
                </div>
            </div>
            
            <div class="fieldset-row">
                <div class="row-label"><em class="required">*</em>${i18n.reEnterPassword}</div>
                <div class="row-field">
                    <input type="password" class="input-default" data-dojo-type="dijit/form/ValidationTextBox" 
                           data-dojo-props="required:true"/>
                </div>
            </div>
            
            <div class="fieldset-row">
                <div class="row-field">
                    <div data-dojo-type="dijit.form.CheckBox">
                        <script type="dojo/on" data-dojo-event="click">
                            dijit.byId("submitBtn").set('disabled', !this.checked);
                        </script>
                    </div> <b id="accept-terms">${i18n.iAcceptThe} <a href="#">${i18n.termsOfUse}</a></b>
                </div>
            </div>
            
            <div class="fieldset-row">
                <div class="row-field  actions">
                    <button id="submitBtn" type="submit" data-dojo-type="dijit/form/Button" 
                                data-dojo-props="disabled:true">${i18n.lContinue} >></button>
                        <button type="reset" data-dojo-type="dijit/form/Button">${i18n.reset}</button>
                </div>
            </div>
        </div>
    </form>
</div>